@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-tap-highlight-color: transparent;
        font-family: Poppins;
    }
}

@layer components {
    .aspect21_9 {
        padding-top: 42.85%;
    }
    .aspect16_9 {
        padding-top: 56.25%;
    }
    .aspect6_9 {
        padding-top: 150%;
    }
    .aspect1_1 {
        padding-top: 100%;
    }
    .defaultPageContentOnGrid {
        @apply col-start-2 col-span-1;
    }
    .title {
        @apply text-[6vw] xs:text-[2rem] leading-tight font-bold uppercase;
    }
    .description {
        @apply text-[5vw] xs:text-[0.9rem] leading-tight;
    }
    .titleCard {
        @apply text-[6vw] md:text-[1.1rem] lg:text-[1.2rem] xl:text-[1.3rem] leading-tight font-bold uppercase;
    }
    .descriptionCard {
        @apply text-[5vw] md:text-[1.1rem] leading-tight;
    }
    .pageSplitter {
        @apply py-10 text-center uppercase;
    }
    .contentSplitter3 {
        @apply grid md:grid-cols-3 gap-4 py-4;
    }
    .contentSplitter8 {
        @apply grid md:grid-cols-4 md:grid-rows-2 gap-4 py-4;
    }
    .categoryCardProduct {
        @apply relative aspect1_1;
    }
    .transformDefault {
        @apply transform duration-300;
    }
}
/* grid md:grid-row-1 md:grid-cols-3 gap-4 py-4; */
